.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  gap: 10px;
  @include tablet {
    gap: 60px;
  }
  @include desktop {
    gap: 118px;
  }
}

.advantages__count {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.49;
  color: #0468ac;

  @include tablet {
    font-size: 35px;
  }
  @include desktop {
    font-size: 45px;
  }
}

.advantages__text {
  margin-bottom: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.23;
  color: #000000;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 22px;
  }
}

.advantages__point {
  position: absolute;
  bottom: -7px;
}
