.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.advantages__count {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.49;
  color: #0468ac;
}

.advantages__text {
  margin-bottom: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  color: #000000;
}

.advantages__item {
  flex-basis: calc((100% - 3 * 118px) / 4);
}

.advantages__point {
  position: absolute;
  bottom: -7px;
}
