.footer {
  background: #323232;
  padding-top: 50px;
  padding-bottom: 50px;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include desktop {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.footer__container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__wraper {
  display: flex;
  // justify-content: space-around;
  margin-bottom: 40px;

  @include tablet {
    display: block;
    margin-bottom: 0;
  }
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-wrap: nowrap;
    width: 60%;
  }
}

.footer__logo {
  width: 50%;
}

.footerSoc__list {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @include tablet {
    margin-top: 50px;
  }
}

.footerSoc__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.15);
  }
}

.footerNav__list {
  width: 50%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    justify-content: end;
    padding-bottom: 5px;
    gap: 25px;
  }
}

.footerNav__link {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.19;
  color: #ffffff;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 21px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #0468ac;
  }
}

.footer__adress {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    justify-content: end;
    padding-bottom: 5px;
    gap: 25px;
  }
}

.footer__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.19;
  color: #ffffff;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 21px;
  }
}

.footerContact__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;

  @include tablet {
    gap: 25px;
  }
}

.footerContact__item {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.19;
  color: #ffffff;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 21px;
  }
}

.footerContact__link {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #0468ac;
  }
}
