.hero {
  padding-top: 90px;
  padding-bottom: 50px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.5),
      rgba(30, 30, 30, 0.5)
    ),
    url(../../image/Головний\ екран\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-top: 210px;
    padding-bottom: 160px;
  }
}

.hero__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.49;
  text-align: center;
  color: var(--title-color);
  max-width: 564px;
  margin-bottom: 30px;

  @include tablet {
    font-size: 45px;
    text-align: start;
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 55px;
    text-align: start;
    margin-bottom: 50px;
  }
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  text-align: center;
  color: var(--text-color);
  max-width: 438px;
  margin-bottom: 60px;

  @include tablet {
    font-size: 18px;
    text-align: start;
    margin-bottom: 80px;
  }
  @include desktop {
    font-size: 22px;
    text-align: start;
    margin-bottom: 100px;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;

  @include tablet {
    padding: 14px 38px;
  }
  @include desktop {
    padding: 17px 44px;
  }
}
